<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<<<<<<< HEAD
=======
    <button value="Branch"></button>
>>>>>>> 147a31c46d008e654ad781eab62aa725ad9ea51b
  </body>
</html>
