<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyNote Login Page</title>
    <link type='text/css' rel='stylesheet' href='/stylesheets/mynoteloginpage.css'/>
  </head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src='/javascripts/mynotelogin.js'></script>
  <body>
    <div id='allform'>
      <div id='loginform'>
        <div id='loginTitle'><img src='/images/logo.png' id='title'/></div>
        <div id='inputEmail'><input type='text' name='email' id='login_id' placeholder="이메일"/></div>
        <div id='inputPwd'><input type='password' name='pwd' id='login_pwd' placeholder='비밀번호'/></div>
        <div id="or_">
          <div id="or_line" class="or"><hr></div>
          <div id="or_text"><p>또는</p></div>
          <div id="or_line2" class="or"><hr></div>
        </div>
        <div id='fbDiv'></div>
        <div id='loginButton'>
          <button id='fbButton' onclick='goFacebook()'>Facebook으로 로그인</button>
          <button id='loginBtn'>로그인</button>
        </div>
        <div id='goEntry' onclick='goEntryPage()'><button id='entryBtn'>가입하기</button></div>
        <div id='sharepageDiv'><button id='sharepageBtn' onclick='gotoShare()'>공유페이지</button></div>
      </div>
    </div>
  </body>
</html>
