<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyNote Entry Page</title>
    <link type='text/css' rel='stylesheet' href='/stylesheets/mynoteentrypage.css'/>
  </head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src='/javascripts/mynoteentry.js'></script>
  <body>
    <div id='allform'>
      <div id='Entryform'>
        <div id='entryTitle'><img src='/images/logo.png' id='title'/></div>
        <div id='entryName'><input type='text' id='entry_name' name='realName' placeholder='Name'/></div>
        <div id='entryEmail'><input type='text' id='entry_email' name='email' placeholder="E-Mail"/></div>
        <div id='entryPwd'><input type='password' id='entry_pwd' name='pwd' placeholder='Password'/></div>
        <div id='entryNickName'><input type='text' id='entry_nickname' name='nickname' placeholder='Nickname'/></div>
        <div id='goEntry'><button id='entryBtn'>가입하기</button></div>
      </div>
    </div>
  </body>
</html>
