body{
  background-color: white;
}
#topBar{
  border-bottom-style: groove;
  padding-bottom: 15px;
  margin-bottom: 5%;
}
#titleDiv{
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}
#title{
  width:80px;
  height:30px;
  cursor: pointer;
}
/*#mypageBtn{
  display: inline-block;
  margin-left: 75%;
  vertical-align: 20%;
}*/
#shareSearchDiv{
  display: inline-block;
  margin-left: 75%;
  vertical-align: 35%;
}
#shareSearchInput{
  text-align: center;
  border-radius: 2px;
  height: 20px;
  background-color: #d9d9d9;
  border: none;
  outline: 0;
}
#setting{
  display: inline-block;
  vertical-align: 7%;
}
/*#logoutDiv{
  display: inline-block;
  vertical-align: 20%;
}*/
/*#entryDiv{
  display: inline-block;
  vertical-align: 20%;
}*/
/*.topRight{
  margin-bottom: 15%;
}*/
/*#goMypage{
  font-size: 10px;
  color:#d9d9d9;
  border-style:none;
  background-color: white;
  outline:0;
  cursor: pointer;
}*/
#goSetting{
  background-color: white;
  border: none;
  /*color: black;
  text-decoration: none;*/
  cursor: pointer;
  border-radius: 2px;
  outline: 0;
  /*font-size: 10px;*/
  width:22px;
  height:22px;
}
/*#logoutBtn{
  font-size: 10px;
  color:#d9d9d9;
  border-style: none;
  background-color: white;
  outline:0;
  cursor: pointer;
}*/
#entryBtn{
  font-size: 10px;
  /*color:#d9d9d9;*/
  border-style: none;
  background-color: white;
  outline:0;
  cursor: pointer;
}

#contentPart{
  width:85%;
  margin : 0 auto;
  /*border-style: groove;*/
}
.shareFolder{
  width:200px;
  height:100px;
  /*margin-left: 10px;*/
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #d9d9d9;
  text-align: center;
  cursor:pointer;
  line-height: 97px;
  color: white;
  word-wrap: break-word;
  border-radius: 2px;
<<<<<<< HEAD

  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.shareFolder:hover{
  opacity: 0.5;
  color:black;
=======
>>>>>>> 147a31c46d008e654ad781eab62aa725ad9ea51b
}
#modal_showbox{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow-y: auto;
}
#modal_window{
  background-color: white;
  width:900px;
<<<<<<< HEAD
  height:700px;
  margin:0 auto;
  /*text-align: center;*/
  margin-top: 5%;
  border-radius: 4px;
  overflow-y: auto;
}

/*############################*/
#modal_window::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}

#modal_window::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#modal_window::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #595959;
}
/*############################*/

=======
  height:1000px;
  margin:0 auto;
  /*text-align: center;*/
  margin-top: 50px;
  border-radius: 4px;
}
>>>>>>> 147a31c46d008e654ad781eab62aa725ad9ea51b
#backDiv{
  display: inline-block;
  margin-left: 87%;
  margin-bottom: 1%;
  margin-top : 1%;
}
#backBtn{
  background-color: #bfbfbf;
  border: none;
  color: white;
  text-decoration: none;
  /*display: none;*/
  cursor: pointer;
  border-radius: 4px;
  outline: 0;
  width:50px;
  height:22px;
}
#canBtn{
  display: inline-block;
  margin-top : 1%;
}
#canButton{
  background-color: #008CBA;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  outline: 0;
  width:50px;
  height:22px;
}
#modalBtnDiv{
  border-bottom-style: inset;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:pointer;
}
#contentDiv{
  margin-top:15px;
}
#contentView{
  display: none;
  margin-left: 20px;
  margin-top: 20px;
}

#loginModal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#login{
  background-color: white;
  width: 300px;
  height: 350px;
  margin:0 auto;
  text-align: center;
  margin-top: 7%;
  /*border-radius: 4px;*/
  padding-top: 20px;
}

#loginDivmodal{
  /*display: inline-block;*/
}

#modaltitle{
  width:150px;
  height:60px;
  margin-top: 30px;
  margin-bottom: 70px;
}

#loginBtn{
  border-style: none;
  background-color: #595959;
  width:255px;
  height:35px;
  font-size: 12px;
  font-weight: normal;
  color:white;
  cursor: pointer;
  outline: 0;
  margin-bottom: 10px;
  border-radius: 2px;
}
#modalEntryBtn{
  border-style: none;
  background-color: #595959;
  width:255px;
  height:35px;
  font-size: 12px;
  font-weight: normal;
  color:white;
  cursor: pointer;
  outline: 0;
  margin-bottom: 10px;
  border-radius: 2px;
}
/*#canDivmodal{
  display: inline-block;
}*/
#canBtn2{
  border-style: none;
  background-color: #595959;
  width:255px;
  height:35px;
  font-size: 12px;
  font-weight: normal;
  color:white;
  cursor: pointer;
  outline: 0;
  margin-bottom: 10px;
  border-radius: 2px;
}
